footer {
    height: 40px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 10;

    border-top: rgb(86, 86, 86) solid 2px;
    background-color: gray;
    font-size: smaller;
    color: rgb(52, 52, 52);
}