.experience-show-container {
    grid-area: content;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    row-gap: 5px;
}
.experience-show-container > h2 {
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 2em;
}
.experience-show-container > p {
    display: block;
    min-width: 0;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-size: 1.1em;
}

.experience-show-options {
    top: 52.79px;
    position: sticky;
    align-self: start;
    box-shadow: 12px 12px 12px var(--indent-boxshadow-dark) inset,
    -10px -10px 10px var(--indent-boxshadow-light) inset;

    grid-area: options;
    height: min(calc(100vh - 52.79px));
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas: 
    "creator-info"
    "save-rate-description"
    "comments"
    "media"
    "links"; */
    padding: 10px 15px;
    row-gap: 7px;
}
.experience-creator-info {
    grid-area: creator-info;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
    "profile-picture username-follower-count";
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}
.experience-creator-info:hover {
    box-shadow: 12px 12px 12px var(--indent-boxshadow-dark) inset,
    -10px -10px 10px var(--indent-boxshadow-light) inset;
}
.experience-creator-info > img {
    grid-area: profile-picture;
    width: 60px;
    border-radius: 50%;
}
.experience-creator-info > div {
    grid-area: username-follower-count;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.experience-creator-info > div > p:first-of-type {
    font-size: 1.3em;
}

.experience-show-save-rate-description-container {
    width: 100%;
    grid-area: save-rate-description;
    display: grid;
    grid-template-columns: auto 3fr 7fr;
    grid-template-areas: 
    "favourite like description"
    "save dislike description";
    gap: 10px;
}
.experience-show-favourite-form {
    grid-area: favourite;
}
.experience-show-lists-button-container {
    grid-area: save;
}
#experience-show-tutorial-like-button {
    grid-area: like;
}
#experience-show-tutorial-dislike-button {
    grid-area: dislike;
}
.experience-show-favourite-button, .experience-show-lists-button, #experience-show-tutorial-like-button, #experience-show-tutorial-dislike-button, #experience-show-comment-like-button, #experience-show-comment-dislike-button {
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.experience-show-favourite-button .hovered {
    opacity: 0;
}
.experience-show-favourite-button:hover .default {
    opacity: 0;
}
.experience-show-favourite-button:hover .hovered {
    opacity: 1;
}

#experience-show-comments-button, #experience-show-media-button, #experience-show-description-button, #experience-show-links-button {
    all: unset;
    width: 100%;
    box-sizing: border-box;
    grid-area: comments;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.3em;
    padding: 15px;
    transition: 0.3s;
}
#experience-show-description-button {
    grid-area: description;
    background-color: var(--secondary-accent-color);
}
#experience-show-media-button {
    grid-area: media;
    background-color: var(--third-accent-color);
}
#experience-show-links-button {
    grid-area: links;
    background-color: var(--fourth-accent-color);
}
#experience-show-comments-button:hover {
    background-color: var(--accent-color-hover);
}
#experience-show-media-button:hover {
    background-color: var(--third-accent-color-hover);
}
#experience-show-description-button:hover {
    background-color: var(--secondary-accent-color-hover);
}
#experience-show-links-button:hover {
    background-color: var(--fourth-accent-color-hover);
}

.like-dislike-button-counter-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    font-size: 1.2em;
}

.like-dislike-button-counter-container > button .hovered {
    opacity: 0;
}
.like-dislike-button-counter-container > form > button .default {
    display: inline;
}
.like-dislike-button-counter-container > form > button .selected {
    display: none;
}
.like-dislike-button-counter-container > form > button.active .default {
    display: none;
}
.like-dislike-button-counter-container > form > button.active .selected {
    display: inline;
}


#experience-show-comments-popup > div:nth-child(2) {
   padding: 0;
}
#experience-show-comments-popup {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "close-button"
    "comments-container"
    "form-or-sign-in";
}

#experience-show-description-popup {

}

.experience-show-popup-close-container {
    grid-area: close-button;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--base-color);
    box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.2);
    height: 35px;
    z-index: 1;
    display: grid;
}
.experience-show-popups-off-button {
    all: unset;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.experience-show-popups-off-button > svg {
    transition: 0.3s;
}
.experience-show-popups-off-button:hover > svg {
    transform: rotate(15deg);
}

/* MEDIA POPUP CSS */ /* MEDIA POPUP CSS */ /* MEDIA POPUP CSS */ /* MEDIA POPUP CSS */
#experience-show-media-popup {
    
}
.experience-show-media-popup-image, .experience-show-media-popup-video {
    width: 300px;
    border-radius: 8px;
}

/* LISTS POPUP CSS */ /* LISTS POPUP CSS */ /* LISTS POPUP CSS */ /* LISTS POPUP CSS */ 
#experience-show-lists-popup {

}

@media(max-width: 1415px) {
    .experience-show-options {
        top: 0px;
        height: auto;
        box-shadow: 12px 12px 12px var(--indent-boxshadow-dark) inset,
        -10px -10px 10px var(--indent-boxshadow-light) inset;
        position: unset;

        grid-area: options;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        grid-template-areas: 
        "creator-info"
        "save-rate-description"
        "comments"
        "media"
        "links";
        padding: 10px 15px 13px 15px;
        row-gap: 7px;
    }
}