.home-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-content: center;
    padding: 10px 0px;
    box-sizing: border-box;
    row-gap: 10px;
}
.home-container > div {
    display: flex;
    justify-content: center;
}