.home-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
    justify-content: center;
}
.home-container > div {
    display: flex;
    justify-content: center;
}
