.lists {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.8em 0px;
    row-gap: 12px;
    box-sizing: border-box;
}

.list-card {
    width: min(95%, 600px);
    border-radius: 8px;
    font-size: 1.4em;
    box-sizing: border-box;
    background-color: var(--navbar-color);
    transition: 0.2s;
    text-decoration: none;
}
.list-card:hover {
    box-shadow: 12px 12px 12px var(--indent-boxshadow-dark) inset,
    -10px -10px 10px var(--indent-boxshadow-light) inset;
}
.list-card a {
    text-decoration: none;
}
.list-card-text-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#lists-make-new-list-button {
    all: unset;
    padding: 7px 15px;
    font-size: 1em;
    border-radius: 8px;
    background-color: var(--agree-color);
    transition: 0.3s;
    cursor: pointer;
    color: black;
}
#lists-make-new-list-button:hover {
    background-color: var(--agree-color-hover);
}

/* Make new list popup CSS */ /* Make new list popup CSS */ /* Make new list popup CSS */
#new-list-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

#lists-make-new-list-popup h4 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

#new-list-form label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#new-list-form input[type="checkbox"] {
    margin-left: 20px;
    appearance: unset;
    -webkit-appearance: unset;
    -moz-appearance: unset;
    width: 35px;
    height: 35px;

    border: 2px solid var(--secondary-text-color);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}
#new-list-form input[type="checkbox"]:checked {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

#new-list-form button {
    all: unset;
    cursor: pointer;
    background-color: var(--agree-color);
    color: black;
    padding: 7px 15px;
    border-radius: 8px;
    transition: 0.2s;
}
#new-list-form button:hover {
    background-color: var(--agree-color-hover);
}

.lists-show-delete-list-button {
    all: unset;
    background-color: var(--disagree-color);
    cursor: pointer;
    padding: 7px 15px;
    border-radius: 8px;
    transition: 0.2s;
}
.lists-show-delete-list-button:hover {
    background-color: var(--disagree-color-hover);
}