.tutorial-card-link {
    text-decoration: none;
    width: 350px;
    height: 305px;
    display: inline-block;
}

.tutorial-card {
    background-color: red;
    display: grid;
    grid-template-rows: min-content auto;
    width: 350px;
    height: 305px;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--navbar-color);
    flex: 1 1 0;

    scroll-snap-align: start;
}
.tutorial-card > img {
    width: 100%;
    height: 196px;
    object-fit: cover;    /* scales and crops the image to fill */
    object-position: center; 
}

.tutorial-card-text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "user-info user-info"
    "favourites upload-time";
    padding: 3px 10px;
    row-gap: 2px;
}

.tutorial-card-title {
    grid-area: title;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tutorial-card-user-info-container {
    grid-area: user-info;
    display: flex;
    align-items: center;
}
.tutorial-card-profile-picture {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.tutorial-card-username {
    width: auto;
}
.tutorial-card-favourites {
    grid-area: favourites;
    display: flex;
    align-items: center;
    justify-content: start;
}
.tutorial-card-upload-time {
    grid-area: upload-time;
    display: flex;
    align-items: center;
    justify-content: end;
}