* {
    margin: 0;
    padding: 0;
    font-family: "Onest";
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
    background-color: var(--base-color);
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: var(--base-color-original);
    padding: 1.2em;
    font-size: 0.9em;
    text-align: end;
}

/* Default input style */ /* Default input style */ /* Default input style */ /* Default input style */ /* Default input style */
/* Default input style */ /* Default input style */ /* Default input style */ /* Default input style */ /* Default input style */
.default-input-style {
    width: 100%;
    height: 45px;
    padding: 8px;
    font-size: larger;
    border: none;
    background-color: var(--base-color-hover);
    transition: 0.15s;
    border-radius: 8px;
    box-sizing: border-box;
}
.default-input-style:focus, .default-input-style:hover {
    outline: none;
    box-shadow: 12px 12px 12px var(--indent-boxshadow-dark) inset,
    -10px -10px 10px var(--indent-boxshadow-light) inset;
}

/* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */
/* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */ /* Popup overlay CSS */
.popup-overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--popup-background-color);
    z-index: 1000;
}
.popup-overlay.show {
    display: block;
}

/* Default popup style */ /* Default popup style */ /* Default popup style */ /* Default popup style */ /* Default popup style */
/* Default popup style */ /* Default popup style */ /* Default popup style */ /* Default popup style */ /* Default popup style */
.default-popup-style {
    max-height: 90%;
    height: auto;
    overflow-y: auto;
    display: none;
    background-color: var(--base-color);
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: min(800px, 95%);
    overflow-y: auto;
    border-radius: 8px;
    font-size: 1.2em;
    box-sizing: border-box;
}
.default-popup-style > div:nth-child(2) {
   padding: 15px 25px;
}

/* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */
/* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */ /* Popup close CSS */
.popup-close-container {
    grid-area: close-button;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--base-color);
    box-shadow: 0 5px 6px -1px rgba(0, 0, 0, 0.2);
    height: 35px;
    z-index: 1;
    display: grid;
}
.popup-close-button {
    all: unset;
    cursor: pointer;
    height: 35px;
    width: 35px;
}
.popup-close-button > svg {
    transition: 0.3s;
}
.popup-close-button:hover > svg {
    transform: rotate(15deg);
}

.two-to-one-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "content options";
}

@media(max-width:1415px) {
    .two-to-one-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "options"
        "content";
    }
}

@media(max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "navbar"
        "main"
        "footer";
    }
    footer {
        text-align: center;
    }
}